name: CI

on:
  push:
    paths:
      - 'terraform/**'
      - 'lambda/**'
      - 'web/**'
  pull_request:
    paths:
      - 'terraform/**'
      - 'lambda/**'
      - 'web/**'

jobs:
  terraform-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform fmt (check)
        working-directory: ./terraform
        run: |
          terraform fmt -check

      - name: Terraform init
        working-directory: ./terraform
        run: terraform init -input=false

      - name: Terraform validate
        working-directory: ./terraform
        run: terraform validate

      - name: Terraform plan
        working-directory: ./terraform
        run: terraform plan -input=false -no-color -out=plan.tfplan
